@section Css{
    <link rel="stylesheet" href="~/node_modules/fullcalendar/main.css">
}


   <div id='calendar'></div>


@section Scripts{
    <script src="~/node_modules/fullcalendar/main.min.js"></script>

     <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>
}