@model KJMemo.Models.DTO.PasswordResetViewModel

@{
    Layout = "_Layout_Blank";
}

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

        <div class="card">
            <form class="card-body" method="post">

                <h2 class="text-center">KJMemo 비밀번호 초기화</h2>

                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <p>가입된 이메일로 비밀번호 초기화 메일을 보내드립니다.</p>

                <button class="btn btn-primary btn-block mb-2">초기화 메일 발송</button>

                <div class="row">
                    <div class="col-md-6">
                        <p>이미 계정이 있으시면 ? <a href="/Account/Login">로그인</a> </p>
                    </div>
                </div>
                
            </form>
        </div>
        

        

        
    </div>

    <div class="col-md-4"></div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}